<%- include("partials/header") %>
<div class="container">
    <h1>Home</h1>
    <img width="100%" style="border:1px solid black" src="images/project.png">
    <a style="margin-top: 20px;" href="/tasks" class="btn btn-success">View All Tasks</a>
</div>
<%- include("partials/footer") %>